<div id="function" class="function">
  <script src="/static/jquery/jquery.min.js" type="text/javascript"></script>
  <script type="text/javascript">
    function get(id, mat){
      $.ajax({
        type: "GET",
        url: "/get_video",
        data: {"num": 0, "inte": id, "mat": mat}
      })
      .done(function(data) {
        $("#u"+id+mat).text(data);
      });
    }

    function geta(){
      get(1,0);
      get(2,0);
      get(3,0);
      get(4,0);
    }
    function a() {
      geta();
      setTimeout('a()',5000);
    }
    a();

    function swi(inte, mat) {
      $.ajax({
        type: "GET",
        url: "/sw_video",
        data: {"inte": inte , "to": $('select[name=en'+inte+mat+']').val(), "mat": mat}
      })
      .done(function() {
        get(inte,mat);
        //alert("Replaced!");
      });
    }


    function get_conf(){
      $.ajax({
        type: "GET",
        url: "/get_conf",
      })
      .done(function(data) {
        $("#pr").replaceWith("<div id='pr'>"+data+"<\/div>");
      });
    }

    $("#pr").ready(function(e) {
      get_conf();
    });

    function save(){
      if (window.confirm("Attenzione si sta per salvare la configurazione salvata in nelle box e non quella attualmente in uso, continuare?")) {
        name = window.prompt("Inserisci il nome della configurazione","");
        if (name == null || name == ""){
          // TODO controllare se viene premuto annulla
          // TODO aggiungere il numero della cofigurazione
          name = "conf"
        }
        $.ajax({
          type: "GET",
          url: "/save_config",
          data: {"string": name , "i1": $('select[name=en1]').val() , "i2": $('select[name=en2]').val() , "i3": $('select[name=en3]').val() , "i4": $('select[name=en4]').val()}
        })
        .done(function() {
          get_conf();
        });
      }
    }
    function all(mat){
      swi(1,mat);
      swi(2,mat);
      swi(3,mat);
      swi(4,mat);
      // TODO alert("replaced")
      geta();
    }
    function rm(){
      if (window.confirm("Attenzione si sta per cancellare una configurazione salvata")) {
        num = window.prompt("Inserisci il numero della configurazione","");
        if (num == null || name == ""){
          // TODO controllare se viene premuto annulla
          // TODO aggiungere il numero della cofigurazione
          name = "0"
        }
        $.ajax({
          type: "GET",
          url: "/rm_config",
          data: {"i": num }
        })
        .done(function() {
          get_conf();
        });
      }
    }
    $(document).ready(function() {

      $("#uscita-10").click(function(e) {
        swi(1,0);
      });
      $("#uscita-20").click(function(e) {
        swi(2,0)
      });
      $("#uscita-30").click(function(e) {
        swi(3,0)
      });
      $("#uscita-40").click(function(e) {
        swi(4,0)
      });

      $("#reset0").click(function(e) {
        $.ajax({
          type: "PUT",
          url: "/reset",
          data: {"mat": 0}
        })
        .done(function() {
          geta();
          alert("Resettata!");
        });
        e.preventDefault();
      });

      $("#save").click(function(e){save();});
      $("#rm").click(function(e){rm();});

      $("#all0").click(function(e){all(0);});

      $("#u10").ready(function(e) {
        get(1,0);
      });
      $("#u20").ready(function(e) {
        get(2,0);
      });
      $("#u30").ready(function(e) {
        get(3,0);
      });
      $("#u40").ready(function(e) {
        get(4,0);
      });

    });
  </script>
  <h1 class="tit">Matrice 1</h1>
  <div class="set">
    <div>
      <fieldset>
        Setta l'uscita 1 attualmente <a id="u10">0</a> a
        <select NAME="en10">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <button id="uscita-10">Applica</button>
      </fieldset>
    </div>
    <div>
      <fieldset>
        Setta l'uscita 2 attualmente <a id="u20">0</a> a
        <select NAME="en20">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <button id="uscita-20">Applica</button>
      </fieldset>
    </div>
    <div>
      <fieldset>
        Setta l'uscita 3 attualmente <a id="u30">0</a> a
        <select NAME="en30">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <button id="uscita-30">Applica</button>
      </fieldset>
    </div>
    <div>
      <fieldset>
        Setta l'uscita 4 attualmente <a id="u40">0</a> a
        <select NAME="en40">
          <option value="0">0</option>
          <option value="1">1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
        </select>
        <button id="uscita-40">Applica</button>
      </fieldset>
    </div>
    <div>
      <button id="reset0">Reset della matrice</button>
      <!-- Rimpiazzato con il pilsante a destra -->
      <!-- <button id="save">Salva la configurazione</button> -->
      <button id="all0">Applica tutta la configurazione</button>
    </div>
  </div>
  <div class="conf">
    <script type="text/javascript">
    </script>
    <h1 class="sub1">Configurazioni salvate</h1>
    <div class="cc">
      <div id="pr"></div>
      <button id="save">+</button>
      <button id="rm">-</button>
    </div>
  </div>
</div>
