@font-face{
    font-family: 'OpenSansB';
    src: local('OpenSansB'), url('/static/font/OpenSans/OpenSans-Bold.ttf') format('truetype');
}
@font-face{
    font-family: 'Roboto';
    src: local('Roboto'), url('/static/font/roboto/Roboto-Thin.ttf') format('truetype');
}
body {
  font-size: 18px;
  background-color: #dddddd;
}
form,fieldset {
  border: 0px;
}
div.nav {
  background-color: #cdcac7;
  height: 66px;
  position: fixed;

  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;

  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;

  padding-left: 0px;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-right: 0px;

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: #a2aca2;
}
.logo {
  position: relative;

  top: 1px;
  bottom: 0px;
  right: auto;
  left: 30px;
  width: 60%;
  right: auto;

  display: inline-block;

  overflow: hidden;
}
.tlogo{
  font-family: 'OpenSansB';
  font-size: 22px;
}
.utente{
  display: inline-block;

  top: 2px;
  position: relative;
  float: right;
  right: 40px;
  width: auto;

  overflow: auto;
}
.lutente{
  font-family: 'Roboto';
  font-size: 22px;
}

.centrale{
  background-color: #ededed;

  margin: 0 auto;
  margin-top: 80px;

  max-width: 1000px;
  box-sizing: border-box;

  /*vertical-align: baseline;*/


  padding-top: 0px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 0px;

  border-style: solid;
  border-width: 1px;
  border-color: #a2aca2;
}

.function{
  padding-top: 3px;
  padding-left: 3px;
  padding-right: 3px;
  padding-bottom: 3px;

  margin: 3px;

  border-style: solid;
  border-color: #a2aca2;
  border-width: 1px;

  bottom: 4px;
}

.set{
  display: inline-block;
  padding-right: 6px;
  border-right: solid 1px #a2aca2;
}
.conf{
  vertical-align: top;
  display: inline-block;
  top: 0px;
}
.sub1{
  margin-top: 0px;
  padding-top: 0px;
  top: 0px;
  font-family: 'OpenSansB';
  font-size: 18px;
}
.tit{
  margin-left: 8px;
  font-family: 'OpenSansB';
  font-size: 22px;
}
.cc{
  top: 0px;
  height: 100%;
  width: 100%;
}
